/* Custom properties */
/*-------------------*/
:root {
    font-family: "Nunito";
    /* typography */
    --ff-main: serif;
    --fs-regular: .75rem;
    --fw-regular: 200;
    --fc-main: 0 0% 0%;
    --price-fs: 20px;
    --price-item-fs: 10px;
    /* background-color */
    --bg-color-main: 61 84% 87%;
    --bg-color-secondary: 0, 0%, 98%;

    /* text color  */
    --color-main: ;
}



/*------------------------------------*/
/* Hard reset                         */
/*------------------------------------*/

/* box sizing */
*,
*::after,
*::before {
    box-sizing: border-box;
}


/* reset margins */
body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
    color: hsl();
}

/* make links neutral  */
li,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a:not(.support, .logout-btn){
    text-decoration: none;
    color: black;
}
.support{
    text-decoration: none;
}

/* make forms easier to work with  */
input,
button,
textarea,
select {
    font: inherit;
}

button{
    border: 0;
    background-color: transparent;
}

/* set up body  */
body {
    line-height: 1.5;
    min-height: 100vh;
    position: relative;
}


/* remove animations for people who've turned them off  */
@media (prefers-reduced-motion: reduce) {

    *,
    *::after,
    *::before {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;

    }

}



/*------------------------------------*/
/* Utility classes                    */
/*------------------------------------*/

.bg-color-main {
    background-color: hsl(var(--bg-color-main));
}

.bg-secondary {
    background-color: hsl(var(--bg-color-secondary));

}

.container {
    margin-inline: auto;
    max-width: 780px;
    width: 95%;
}

.container-lg {
    max-width: 1366px;
    width: 95%;
    margin-inline: auto;
}


.flex {
    display: flex;
    gap: var(--gap);
    justify-content: var(--justify-content);
    align-items: var(--align-items);
}

.flex-column {
    display: flex;
    gap: var(--gap, 1rem);
    flex-direction: column;
}

.flex-center-between {
    display: flex;
    gap: var(--gap);
    justify-content: space-between;
    align-items: center;
}


.grid {
    display: grid;
    gap: var(--gap, 1rem);
    place-content: var(--place-content);
    grid-template-columns: var(--grid-columns);
}

.grid-center {
    display: grid;
    place-content: center;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}


.form-control:focus,
.form-control:focus-visible,
.form-control:focus-within {
    outline: 0;

}

.price {
    font-weight: 700;
    color: #FBA31F;
}

.price-item,
.price-detail {
    font-weight: 400;
}

.mini-icon {
    width: 10px;
    aspect-ratio: 1;
}


.general-btn {
    width: 100%;
    max-width: 285px;
    margin: auto;
    padding: .5em;
    border-radius: 10px;
    border: 0;
    background-color: #DDA85C;
    font-family: open sans;
    font-weight: 700;
    color: white;
    letter-spacing: 1px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.general-btn:hover,
.nav_link.dropdown,
.openNav:hover,
.closeNav:hover,
.back-btn:hover,
.search-submit-icon:hover
 {
    cursor: pointer;
}

.scale-text-big {
    font-size: clamp(16px, 12vw, 45px);
    text-transform: capitalize;

}

.scale-text-sub-big {
    font-size: clamp(16px, 8vw, 35px);

}

.scale-text-medium {
    font-size: clamp(12px, 5vw, 20px);

}

.scale-text-small {
    font-size: clamp(12px, 2vw, 16px);

}

.scale-text-link {
    font-size: clamp(12px, 4vw, 16px);

}
/* 
@media screen and (min-width: 720px) {
    .preview-page-container .scale-text-big {
        font-size: clamp(1em, 5vw, 40px);

    }

    .preview-page-container .scale-text-sub-big {
        font-size: clamp(16px, 10vw, 40px);

    }

    .preview-page-container .scale-text-medium {
        font-size: clamp(1em, 5vw, 26px);

    }

    .preview-page-container .scale-text-small {
        font-size: clamp(12px, 18vw, 16px);

    }

    .preview-page-container .scale-text-link {
        font-size: clamp(12px, 4vw, 22px);
    }
} */

section {
    transition: filter .2s ease-in-out;
}    

/*------------------------------------*/
/*          Main styling              */
/*------------------------------------*/

/* Navigation styling */
nav {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform .2s ease-in-out;

}

nav .innernav{
    background-color: #ffffff98;
    backdrop-filter: blur(30px);
    overflow-y: auto;
    width: 300px;
    height: 100%;
}

/* when screen is less than 480px */
@media screen and (max-width: 480px) {
    nav .innernav {
        width: 60%
    }
}

.nav-lg {
    justify-content: space-between;
    padding: 2rem 1em;
    width: 90%;
    height: 100%;
}

.nav_items-container,
.dropdown-list {
    --gap: .75em;
}

/* button to open navigation */
.openNav {
    width: 40px;
    aspect-ratio: 4/3;
    position: relative;
    border: 0;

}


/* bar lines for toggling navigation */
.toggleMenuBtn{
    position: relative;
    width: 100px;
    aspect-ratio: 4/3;
}
.line {
    display: block;
    position: relative;
    outline: 0;
    width: 100%;
    background-color: black;
    border: 1px solid black;
}

.line::before,
.line::after {
    width: 50%;
    height: 1px;
    border: 1px solid black;
    position: absolute;
}

.line::before {
    content: "";
    top: -10px;
    left: 0;
}

.line::after {
    content: "";
    bottom: -10px;
    right: 0;
}

/* button to close navigation  */
.closeNav {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 26px;
}

/* link items  */
.nav-list {
    display: block;
    font-size: 20px;
}

.nav-list object {
    width: 20px;
    margin-right: 10px;
}

.nav_link{
    display: flex;
    align-items: center;
    color: var(--fc-main);
    padding: .75rem 0;
}

/* logout button styling */
.logout-btn {
    font-size: 16px;
    height: 20px;
    text-decoration: none;
    background-color: transparent;
    outline: 0;
    border: 0;
    display: flex;
    align-items: center;
    color: #FF9900;
    --gap: 50em;
}

.logout-btn object {
    color: black;
    font-weight: 700;
    height: 100%;
    margin-right: .5em;
}

.nav-head{
    padding: 1rem 0;
    z-index: 10;
    transition: background-color .2s ease-in-out;
}

.sticky{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 2px 1px 4px 2px rgb(236, 236, 236);
    /* background-color: rgba(255, 255, 255, 0.678); */
    /* backdrop-filter: blur(10px); */
}


/*------------------------------------*/
/*             Homepage               */
/*------------------------------------*/

/* .main-content {
    border-radius: 20px 0 0 0;
} */

.homepage-container {
    --gap: 1em;
}

.homepage-container .search-container {
    margin-inline: auto;
}

.shop-items {
    place-items: center;
    --grid-columns: repeat(auto-fit, minmax(260.5px, 1fr));
    --gap: .25rem;

}

@media screen and (max-width: 700px) {

    .shop-items {
        grid-template-columns: 1fr 1fr;
    }
}




.shop-items .item {
    position: relative;
    /* padding: 1em 0; */
    background-color: white;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}


.heart-icon,
.cart-icon{
    position: absolute;
    max-width: 30px;
    width: 10%;
    border-color: #DDA85C;
}
.heart-icon-main .heart-stroke,
.cart-icon {
    /* stroke: #DDA85C; */
    fill: #DDA85C !important;
}
.heart-icon {
    top: 5%;
    right: 5%;
}

.cart-icon {
    left: 5%;
    top: 5%;
}


.food-img {
    width: 100%;
    aspect-ratio: 4/3;
}

.caption-section{
    padding: 0.25em;
}

.order-info {
    width: 100%;
    justify-content: space-between;
}



.about-text {
    display: inline-block;
    overflow: hidden;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    /* white-space: nowrap; */
    /* line-break: anywhere; */
    text-overflow: ellipsis;
}

.slide {
    transform: translateX(0);
}

.slide-button {
    text-align: center;
}



/*------------------------------------*/
/*            Search Page             */
/*------------------------------------*/
.search-page-container {
    height: 100vh;
    padding-top: 2rem;
    background-color: hsl(var(--bg-color-secondary));
}

.page-main {
    flex-direction: column;
    --gap: 2rem;
}

.back-btn {
    border: 0;
    outline: 0;
    background-color: transparent;
    padding: .5rem;
    --gap: .5rem;
    align-items: center;
    color: black;

}

.search-container {
    width: 40%;
    min-width: 300px;
    padding: .5%;
    justify-content: center;
    align-items: center;
    --gap: 0;
    background-color: white;
    border-radius: 20px;
    max-width: 700px;
    overflow: hidden;

}

.search-submit-icon {
    --gap: 0;
    border: none;
    background-color: transparent;
}

.search-submit-icon img {
    width: 100%;
}


.search-box {
    border: 0;
    width: 100%;
}

.search-box::placeholder {
    text-align: center;
}

.searches-container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.search-histories {
    flex-direction: column;
    --gap: 1em;

}

.searches {
    --gap: 0;

}

.searches:visited,
.searches:link {
    color: black;
    text-decoration: none;
}



.searches img:first-child {
    margin-right: 10px;

}



/* payment section design  */
.payment-section {
    padding: 1rem 0;
    flex-direction: column;
    --gap: 2rem;
    justify-content: center;
}

.payment-form {
    --gap: 2rem;
}

.payment-form>* {
    width: 100%;
}

legend {
    margin-left: 10px;
    padding: 0;
    position: absolute;
    top: -12px;
    background-color: white;
}

fieldset {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    border-radius: 4px;
    padding: .5rem;
}

fieldset input,
fieldset select {
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    background-color: transparent;

}

fieldset input:focus,
fieldset input:focus-within {
    outline: 0;
    border: 0;
}

.checkbox-item {
    font-size: 14px;
    justify-content: flex-start;
    --gap: .5rem;
}



/* order page styling */

.order-page-container {
    background-color: hsl(var(--bg-color-secondary));
}

.order-page-container .search-container {
    margin: auto;
}

.order-page-title {
    font-size: 28px;
}

.order-boxes {
    --grid-columns: repeat(auto-fit, minmax(150.5px, 1fr));
    --gap: .5rem;
}

.order {
    background-color: white;
    padding: 1rem;
    aspect-ratio: 1;
    --gap: 0;
    justify-content: center;
    align-items: center;
}

.order-item-image-container {
    width: 50%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgb(173, 173, 173);
}

.order-item-image-container img {
    width: 100%;
}

.filter {
    overflow-y: hidden;
    --gap: 1em;
}

.filter::-webkit-scrollbar {
    width: 10px;
}

.filter select,
.filter span {
    background-color: white;
    border: 0;
    padding: .25em 1em;
    border-radius: 10px;
}

.filter span {
    background-color: #FBA31F;
    color: white;
    font-weight: 700;
}









.cart-page-container h1 {
    display: block;
    text-align: center;
}

.cart-page-container .general-btn {
    background-color: #DDA85C;
    width: 140px;
    margin-inline: auto;
}

.cart-boxes {
    padding: 1rem 0;
    --gap: 1rem;
}

.cart-box {
    background-color: rgb(255, 255, 255);
    --gap: 1rem;
    width: 100%;
    border-radius: 10px;
    position: relative;
    height: 80px;

}



.cart-info {
    box-sizing: border-box;
    flex: 1;
    padding: .25rem 1.5rem .25rem 0;
    justify-content: space-between;

}

.cart-info .price {
    padding: 0;
    background-color: transparent;
}

.cart-info .bottom-btn {
    width: 100%;
}

.cart-info .counter {
    display: block;
}

.cart-info .counter::after,
.preview-page-container .counter::after,
.cart-info .counter::before,
.preview-page-container .counter::before {
    aspect-ratio: 1;
    display: inline-grid;
    place-items: center;
    border-radius: 50%;
    font-weight: 700;
    /* background-color:  rgb(165, 165, 165); */
    border: 0;
}

.counter-end {
    background-color: rgb(165, 165, 165);
}

.counter-start {
    background-color: rgb(2, 2, 2);
    color: white;
}

.cart-info .counter::after,
.preview-page-container .counter::after {
    content: url(../assets/icons/add.svg);
    margin-left: 2px;
    /* background-color:  rgb(2, 2, 2); */
    color: white;
}

.cart-info .counter::before,
.preview-page-container .counter::before {
    content: url(../assets/icons/remove.svg);

    margin-right: 2px;
}

.cart-info .counter,
.preview-page-container .counter {
    display: flex;
    align-items: center;
}

.price-big {
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-weight: 600;
}

.total {
    font-size: 2em;
}

.total .price-big {
    font-weight: 900;
    font-size: inherit;
}





.dark-link {
    color: black;
}

.signin-page-container .formgroup {
    background-color: #E8E8E8;
    border: 0;
    outline: 0;
    border-radius: 10px;
}

.signin-page-container .formgroup input {
    padding: .5em;
    background-color: transparent;
    width: 100%;
    border: none;
    border-radius: 10px;
    outline: 0;
}

.signin-page-container .form {
    width: 100%;
    --gap: 1.2rem
}

.signin-page-container .form-container {
    --gap: 2rem;
}

.signin-page-container {
    position: relative;
}

.validInput{
    border: 1px solid green;
}
















/* main content styling  */
/* .main-content {
    border-radius: 20px 0 0 0;
}

.homepage-container {
    padding: 1rem;
    --gap: 1em;
}

.homepage-container .search-container {
    margin-inline: auto;
}


.shop-items {
    place-items: center;
    --grid-columns: repeat(auto-fit, minmax(215px, 1fr));
    --gap: .25rem;

}

@media screen and (max-width: 700px) {

    .shop-items {
        grid-template-columns: 1fr 1fr;
    }
}





.heart-icon {
    width: 10%;
    position: absolute;
    top: 5%;
    right: 5%;
}
/* 
.heart-icon:hover{
    background-color: red;
} */

.favourite{
    background-color: red;
}

.order-item {
    width: 100%;
    justify-content: space-between;
}

/* .shop-items .item .flex-column {
    --gap: .75em;
    width: 95%;
    margin-inline: auto;
} */






.about-text {
    display: inline-block;
    overflow: hidden;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    /* white-space: nowrap; */
    /* line-break: anywhere; */
    text-overflow: ellipsis;
}

.slide {
    transform: translateX(0);
}

.slide-button {
    text-align: center;
} */









.container-wrapper {
    max-width: 90%;
    margin-inline: auto;
}

@media screen and(max-width: 480px) {
    .container-wrapper {
        width: 90%;
        margin-inline: auto;
    }
}


.nav_link[aria-current="page"]{
    border-bottom: 1px solid black;
}


.login-popup{
    margin-top: 1rem;
    width: 95%;
    max-width: 400px;
    margin-inline: auto;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.486);
    backdrop-filter: blur(4px);
    padding: 0.5rem;
    justify-content: center;
    border-radius: 10px;
    background-color: #00c851;
    color: white;
    font-weight: 900;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: top 1s ease-in-out;
}
/* 
@media screen and (max-width: 480px) {
    .login-popup{
        left: 0;
        width: 100%;
    }
} */
.login-popup > div{
    width: 60%;
    --gap: 1em;
    margin-inline: auto;
    justify-content: center;
}

.hide-popup{
    /* display: none; */
    /* transform: translateY(calc(-100% - 1rem));
    */
     top: -100%;
}

.py{
    padding: 1rem 0;
}

.error{
    color: red;
}
.checkbox.flex{
    --gap: .25em;
}

.header-misc{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: .5rem;
}

.dropdown-list{
    margin-left: .75rem;
    transition: transform 2s ease-in-out;
    height: auto;
    position: relative;
}

.nav_link.dropdown{
    position: relative;
    width: 100%;
    background-color: transparent;
    outline: 0;
    border: 0;

}

.dropdown-container{
    position: relative;
    transition: all 2s ease-in-out;
    overflow: hidden;
}




.dropdown-list.slide-dropdown{
    height: 0;
    overflow: hidden;
}